* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #f3f4f6;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.card {
    background: white;

    padding: 40px;

    border-radius: 16px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.10);
}

h1 {
    text-align: center;

    margin-bottom: 10px;
}

p {
    text-align: center;

    color: #6b7280;

    margin-bottom: 30px;
}

.campo {
    margin-bottom: 20px;
}

label {
    display: block;

    margin-bottom: 8px;

    font-weight: bold;
}

input {
    width: 100%;

    padding: 14px;

    border: 1px solid #d1d5db;

    border-radius: 8px;

    font-size: 16px;
}

input:focus {
    outline: none;

    border-color: #2563eb;
}

button {
    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 8px;

    background: #2563eb;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

.resultado {
    margin-top: 25px;

    padding: 20px;

    border-radius: 8px;

    background: #eff6ff;

    text-align: center;

    font-weight: bold;

    min-height: 20px;
}